body {
   font-family: "arial";
   font-size: 12pt;
} 

h1 {
  color: #0700A1;
  font-size: 18pt;
}

a:link {
  color: navy;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: navy;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: navy;
  text-decoration: none;
}

a:active {
  color: navy;
  background-color: transparent;
  text-decoration: none;
}
