body {
   font-family: "arial";
   font-size: 12pt;
} 

h1 {
  color: #0700A1;
  font-size: 17pt;
}

a:link {
  font-weight: bold;
  color: #0700A1;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  font-weight: bold;
  color: #0700A1;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
  color: white;
  background-color: #0700A1;
  text-decoration: none;
}

a:active {
  font-weight: bold;
  color: #0700A1;
  background-color: transparent;
  text-decoration: none;
}
